@model IEnumerable<LibraryManagment.Models.LendedBooksVM>

@{
    ViewData["Title"] = "Lended Books Statistics";
}

<h1>Lended Books Statistics</h1>

<table class="table">
    <tr>
        <th>
            Full Name
        </th>
        <th>
            Books Taken
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @item.BookNumbers
            </td>
        </tr>
    }
</table>
